[core]
  editor = /usr/bin/vim
  pager = less -+$LESS -FRX
[user]
  name = Wagner Camarao
  email = 777396+wcamarao@users.noreply.github.com
[color]
  ui = auto
  interactive = auto
[alias]
  br = branch -v
  ci = commit -v
  co = checkout
  dc = diff --cached
  dcc = diff --cached --word-diff=color
  df = diff
  dff = diff --word-diff=color
  dt = diff-tree --no-commit-id --stat -r
  fr = !git fetch --all && git rebase origin/master
  gp = grep --break --heading
  ln = !git ls-files | xargs -n1 git blame --line-porcelain | sed -n 's/^author //p' | sort -f | uniq -ic | sort -nr
  lg = log --graph --pretty=format:'%Cred%h%Creset %Cgreen%cr%Creset %Cblue%an%Creset%C(yellow)%d%Creset %s'
  lt = !git lg | head
  ls = log --stat
  sl = shortlog -sn
  st = status -sb
