[submodule "model/vim/bundle/vim-ruby-debugger"]
	path = model/vim/bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "model/vim/bundle/vim-json"]
	path = model/vim/bundle/vim-json
	url = git://github.com/elzr/vim-json.git
[submodule "model/vim/bundle/supertab"]
	path = model/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "model/vim/bundle/vim-less"]
	path = model/vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "model/vim/bundle/vim-coffee-script"]
	path = model/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "model/vim/bundle/ctrlp.vim"]
	path = model/vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "model/vim/bundle/vim-javascript"]
	path = model/vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "model/vim/bundle/nerdtree"]
	path = model/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "model/vim/bundle/vim-slim"]
	path = model/vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "model/vim/bundle/vim-cucumber"]
	path = model/vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "model/vim/bundle/vim-fugitive"]
	path = model/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "model/vim/bundle/vim-git"]
	path = model/vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "model/vim/bundle/vim-markdown"]
	path = model/vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "model/vim/bundle/vim-pathogen"]
	path = model/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "model/vim/bundle/vim-rails"]
	path = model/vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "model/vim/bundle/vim-rbenv"]
	path = model/vim/bundle/vim-rbenv
	url = git://github.com/tpope/vim-rbenv.git
[submodule "model/vim/bundle/vim-repeat"]
	path = model/vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "model/vim/bundle/vim-surround"]
	path = model/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "model/vim/bundle/vim-matchit"]
	path = model/vim/bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "model/vim/bundle/vim-ruby"]
	path = model/vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "model/vim/bundle/IndexedSearch"]
	path = model/vim/bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "model/vim/bundle/jQuery"]
	path = model/vim/bundle/jQuery
	url = git://github.com/vim-scripts/jQuery.git
